*{
    box-sizing: border-box;
}

:root{
    --content-screen-width: 50%;

    --para-font-size: 1.2rem;
    --para-line-height: 2.2rem;
    --para-font-weight: bold;
    --title-font-size: 10rem;
    --title-letter-spacing: 0.8rem;
    --title-line-height: 5rem;
    --sub-title-font-size: 3rem;
    --sub-title-letter-spacing: 0.4rem;
    --sub-title-line-height: 3.5rem;

    --simon-button-width: 12.5rem;
    --simon-button-border-thickness: 0.6rem;
    --help-icon-width: 2.5rem; 
}

body{
    background-color: rgb(23, 23, 23);
    font-family: 'Silkscreen', cursive;
    color: #DA0037;
    text-align: center;
}
p{
    font-family: 'Barlow', sans-serif;
    font-size: var(--para-font-size);
    line-height: var(--para-line-height);
    font-weight: var(--para-font-weight);
    color: black;
}
h1{
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
    line-height: var(--title-line-height);
}
h2{
    font-size: var(--sub-title-font-size);
    letter-spacing: var(--sub-title-letter-spacing);
    line-height: var(--sub-title-line-height);
}

/* Navbar */
#help-button{
    position: absolute;
    top: calc( var(--title-line-height) / 2); 
    right: 10%;
    border: 0px;
    padding: 2px;
    background-color:antiquewhite;
    border-radius: 100%;
}
img.help-icon{
    width: var(--help-icon-width);
    height: var(--help-icon-width);
}


/* Content */
.content{
    width: var(--content-screen-width);
    margin: auto;
}
.row{
    margin: var(--sub-title-line-height) 0;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    width: var(--simon-button-width);
    height: var(--simon-button-width);
    border-radius: 30px;
    border: var(--simon-button-border-thickness) outset;
}
#green{
    background-color: rgb(22, 138, 22);
    border-color: green;
}
#red{
    background-color: rgb(253, 33, 33);
    border-color:  red;
}
#yellow{
    background-color: rgb(253, 253, 39);
    border-color: yellow;
}
#blue{
    background-color: rgb(35, 35, 252);
    border-color: blue;
}
.btn.pressed{
    animation: press 0.5s ease forwards;
    border:  var(--simon-button-border-thickness) ridge;
}
@keyframes press {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.85); 
    }
    50%{
        transform: scale(0.75);
    }
    75%{
        transform: scale(0.85); 
    }
    100%{
        transform: scale(1);
    }
}
.game-over{
    animation: over 0.5s ease 2 forwards;
}
@keyframes over {
    from{
        background-color: red;
    }
    to{
        background-color: #171717;
    }
}


/* Help */
.help-title{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    position:fixed;
    top:0px;
}
#help-popup{
    text-align: left;
    padding: var(--sub-title-line-height);
    background-color:antiquewhite;
    width: var(--content-screen-width);
    position: relative;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    box-shadow: 10px 5px rgb(0,0,0,0.30);
    animation: help-bar 0.5s ease forwards;
}
@keyframes help-bar {
    0%{
        top:40%;
        left:60%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        top:50%;
        left:50%;
        filter: blur(0px);
        visibility:visible;
        opacity: 1;
    }
}
img.close{
    width: var(--help-icon-width);
    height: var(--help-icon-width);
}


@media (max-width: 575.98px) { 
    :root{
        --content-screen-width: 90%;
    
        --para-font-size: 0.9rem;
        --para-line-height: 1.4rem;
        --para-font-weight: 400;
        --title-font-size: 4rem;
        --title-letter-spacing: 0.2rem;
        --sub-title-letter-spacing: 0.1rem;
        --sub-title-font-size: 1.5rem;
        --sub-title-line-height: 2rem;
    
        --simon-button-width: 7.5rem;
        --simon-button-border-thickness: 0.2rem;
        --help-icon-width: 1rem; 
    }
}
@media (min-width: 576px) and (max-width: 1199.98px){ 
    :root{
        --content-screen-width: 80%;
    
        --para-font-size: 1rem;
        --para-line-height: 1.7rem;
        --para-font-weight: 400;
        --title-font-size: 6rem;
        --title-letter-spacing: 0.4rem;
        --sub-title-letter-spacing: 0.2rem;
        --sub-title-font-size: 2rem;
        --sub-title-line-height: 2.5rem;
    
        --simon-button-width: 9.4rem;
        --simon-button-border-thickness: 0.3rem;
        --help-icon-width: 1.5rem; 
    }
} 
@media (min-width: 1200px) and (max-width: 1599px){ 
    :root{
        --content-screen-width: 70%;
    
        --para-font-size: 1.1rem;
        --para-line-height: 1.9rem;
        --para-font-weight: 400;
        --title-font-size: 7rem;
        --title-letter-spacing: 0.6rem;
        --sub-title-letter-spacing: 0.3rem;
        --sub-title-font-size: 2.5rem;
        --sub-title-line-height: 3rem;
    
        --simon-button-width: 11.25rem;
        --simon-button-border-thickness: 0.44rem;
        --help-icon-width: 2rem; 
    }
} 