*{
    box-sizing: border-box;
}

:root{
    --margin: 3.1rem;

    --content-screen-width: 50%;

    --para-font-size: 1.2rem;
    --para-line-height: 2.2rem;
    --para-font-weight: bold;
    --title-font-size: 10rem;
    --title-letter-spacing: 0.8rem;
    --sub-title-letter-spacing: 3rem;
    --sub-title-font-size: 0.2rem;
    --help-title-font-size: 3rem;
    --help-title-letter-spacing: 0.1rem;
    --help-title-line-height: 3.5rem;

    --simon-button-width: 12.5rem;
    --simon-button-border-thickness: 0.6rem;
    --help-icon-width: 3.1rem; 
}

body{
    background-color: rgb(23, 23, 23);
    text-align: center;
}
p{
    font-family: 'Barlow', sans-serif;
    font-size: var(--para-font-size);
    line-height: var(--para-line-height);
    font-weight: var(--para-font-weight);
}


/* Navbar */
.game-title{
    margin: var(--margin) 0;
}
.game-title h1{
    margin: 0px;
    font-family: 'Silkscreen', cursive;
    font-size: var(--title-font-size);
    letter-spacing: var(--title-letter-spacing);
    color: #DA0037;
}
.help-icon button{
    background-color: #171717;
    position: absolute;
    top: calc( var(--margin) + calc( var(--title-font-size) / 2));
    right: 10%;
    border-width: 0px;
    border-radius: 100%;
}
img.help-icon{
    width: var(--help-icon-width);
    height: var(--help-icon-width);
    background-color: white;
    border-radius: 50%;
}


/* Content */
.content{
    width: var(--content-screen-width);
    margin: auto;
}
.content h2{
    margin: 0px;
    font-family: 'Silkscreen', cursive;
    font-size: var(--sub-title-font-size);
    letter-spacing: var(--sub-title-letter-spacing);
    color: #DA0037;
}
.row{
    display: flex;
    flex-direction: row;
    margin: var(--margin) calc(var(--margin) * 2);
}
.btn{
    width: var(--simon-button-width);
    height: var(var(--simon-button-width));
    margin: auto;
    border-radius: 30px;
    border: var(--simon-button-border-thickness) outset;
}
#green{
    background-color: rgb(22, 138, 22);
    border-color: green;
}
#red{
    background-color: rgb(253, 33, 33);
    border-color:  red;
}
#yellow{
    background-color: rgb(253, 253, 39);
    border-color: yellow;
}
#blue{
    background-color: rgb(35, 35, 252);
    border-color: blue;
}
.btn.pressed{
    animation: press 0.5s ease forwards;
    border:  var(--simon-button-border-thickness) ridge;
}
.game-over{
    animation: over 0.5s ease 2 forwards;
}
@keyframes press {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.85); 
    }
    50%{
        transform: scale(0.75);
    }
    75%{
        transform: scale(0.85); 
    }
    100%{
        transform: scale(1);
    }
}
@keyframes over {
    from{
        background-color: red;
    }
    to{
        background-color: #171717;
    }
}


/* Help */
.help-title{
    display: inline-block;
}
#blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    position:fixed;
    top:0px;
}
#help-popup{
    text-align: left;
    padding: var(--margin);
    background-color:antiquewhite;
    width: var(--content-screen-width);
    position: relative;
    transform: translate(-50%,-50%);
    border-radius: var(--simon-button-border-thickness);
    box-shadow: 10px 5px rgb(0,0,0,0.30);
    animation: help-bar 0.5s ease forwards;
}
.help h3{
    font-family: 'Silkscreen', cursive;
    font-size: var(--help-title-font-size);
    letter-spacing: var(--help-title-letter-spacing);
    line-height: var(--help-title-line-height);
    color: #DA0037;
}
.help button{
    border: 0px;
    background-color:antiquewhite;
}
img.close{
    width: var(--help-icon-width);
    height: var(--help-icon-width);
}
@keyframes help-bar {
    0%{
        top:40%;
        left:60%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        top:50%;
        left:50%;
        filter: blur(0px);
        visibility:visible;
        opacity: 1;
    }
}


@media (max-width: 575.98px) { 
    :root{
        --margin: 1.9rem;
    
        --content-screen-width: 80%;
    
        --para-font-size: 0.9rem;
        --para-line-height: 1.4rem;
        --para-font-weight: 400;
        --title-font-size: 4rem;
        --title-letter-spacing: 0.2rem;
        --sub-title-letter-spacing: 0.1rem;
        --sub-title-font-size: 1.5rem;
        --help-title-font-size: 1.4rem;
        --help-title-letter-spacing: 0.1rem;
        --help-title-line-height: 1rem;
    
        --simon-button-width: 7.5rem;
        --simon-button-border-thickness: 0.2rem;
        --help-icon-width: 1.9rem; 
    }
    .list{
        padding: 10px;
        margin: 0px;
    }
    /* Help */
    .help button{
        left: 90px;
    }
}
@media (min-width: 480px) and (max-width: 575.98px){ 
    .help button{
        left: 180px;
    }
}
@media (min-width: 576px) and (max-width: 999.98px){ 
    :root{
        --margin: 4.4rem;
    
        --content-screen-width: 80%;
    
        --para-font-size: 1rem;
        --para-line-height: 1.7rem;
        --para-font-weight: 400;
        --title-font-size: 6rem;
        --title-letter-spacing: 0.3rem;
        --sub-title-letter-spacing: 0.3rem;
        --sub-title-font-size: 2rem;
        --help-title-font-size: 1.8rem;
        --help-title-letter-spacing: 0.1rem;
        --help-title-line-height: 1.5rem;
    
        --simon-button-width: 9.4rem;
        --simon-button-border-thickness: 0.3rem;
        --help-icon-width: 2.2rem; 
    }
    /* Navbar */
    .help-icon button{
        top: 60px;
        right:60px;
    }
    /* Content */
    .list{
        padding: 20px;
        margin: 0px;
    }
    /* Help */
    .help button{
        left: 175px;
    }
} 
@media (min-width: 750px) and (max-width: 999.98px){
    .help button{
        left: 295px;
    }
} 
@media (min-width: 1000px) and (max-width: 1399px){
    :root{
        --margin: 7.5rem;
    
        --content-screen-width: 70%;
    
        --para-font-size: 1.1rem;
        --para-line-height: 1.9rem;
        --para-font-weight: 400;
        --title-font-size: 6rem;
        --title-letter-spacing: 0.5rem;
        --sub-title-letter-spacing: 0.5rem;
        --sub-title-font-size: 2.2rem;
        --help-title-font-size: 1.9rem;
        --help-title-letter-spacing: 0.2rem;
        --help-title-line-height: 2rem;
    
        --simon-button-width: 10rem;
        --simon-button-border-thickness: 0.3rem;
        --help-icon-width: 5rem; 
    }
    /* Content */
    .list{
        padding: 20px;
        margin: 0px;
    }
    /* Help */
    .help button{
        left: 395px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .help button{
        left: 520px;
    }
}
@media (min-width: 1400px) and (max-width: 1599px){ 
    :root{
        --margin: 7.5rem;
    
        --content-screen-width: 60%;
    
        --para-font-size: 1.1rem;
        --para-line-height: 1.9rem;
        --para-font-weight: 400;
        --title-font-size: 7rem;
        --title-letter-spacing: 0.5rem;
        --sub-title-letter-spacing: 0.5rem;
        --sub-title-font-size: 2.3rem;
        --help-title-font-size: 201rem;
        --help-title-letter-spacing: 0.2rem;
        --help-title-line-height: 2rem;
    
        --simon-button-width: 11.25rem;
        --simon-button-border-thickness: 0.44rem;
        --help-icon-width: 5rem; 
    }
    /* Navbar */
    .help-icon button{
        top: 100px;
        right:100px;
    }
    /* Content */
    .list{
        padding: 20px;
        margin: 0px;
    }
    /* Help */
    .help button{
        left: 560px;
    }
} 